# Combining and Wrangling Both Data Sets

## Imports

In [83]:
import json
import gzip
import pandas as pd
import os.path
from dotenv import load_dotenv
import numpy as np

# set some print options
np.set_printoptions(precision=4)
np.set_printoptions(threshold=5)
np.set_printoptions(suppress=True)
pd.set_option('precision', 3, 'notebook_repr_html', True, )

# init random gen
np.random.seed(2)

## Environment Variables

In [84]:
load_dotenv()
grocery_data_in = os.getenv('IN_DATA_FILEPATH') + os.getenv('RAW_META_FILE')
reviews_data_in = os.getenv('IN_DATA_FILEPATH') + os.getenv('RAW_REVIEW_FILE')
# This path is still in the markdown below because haven't found a working way to use a variable there.
doc_filepath = os.getenv('DOCUMENTATION_FILEPATH')

## Introduction
Data Wrangling is the process of collecting, organizing, and determining how well-defined the data is.  
See [Grocery Recommender - Capstone Two](../Grocery_Recommender_-_Capstone_Two.pdf) for details about this project.

## Load Data 
This public dataset is available online <sup>[1]</sup> and is not included in source/version control for space reasons.  
After downloading the dataset add it to the file location in your .env file; see environments_example.txt.

### Product Dataset

In [85]:
grocery_data = []
with gzip.open(grocery_data_in) as f:
    for l in f:
        grocery_data.append(json.loads(l.strip()))

In [86]:
# Confirm data loaded by checking total number of products.
print(len(grocery_data))

287051

In [87]:
# convert list into pandas dataframe
grocery_df = pd.DataFrame.from_dict(grocery_data)
len(grocery_df)

287051

In [88]:
grocery_df.head(2)

,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,details
0,"[Grocery & Gourmet Food, Dairy, Cheese & Eggs,...",,"[BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS, Stat...",,Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,[],[],,Ariola Imports,[],"165,181 in Grocery & Gourmet Food (","[B0000D9MYM, B0000D9MYL, B00ADHIGBA, B00H9OX59...",Grocery,,,$41.91,0681727810,NaN
1,"[Grocery & Gourmet Food, Cooking & Baking, Sug...",,"[Shipped from UK, please allow 10 to 21 busine...",,Trim Healthy Mama Xylitol,"[B01898YHXK, B01BCM6LAC, B00Q4OL47O, B00Q4OL5Q...",[https://images-na.ssl-images-amazon.com/image...,,,[],"315,867 in Grocery & Gourmet Food (",[],Grocery,,,,0853347867,NaN

### Reviews Dataset

In [89]:
reviews_data = []
with gzip.open(reviews_data_in) as f:
    for l in f:
        reviews_data.append(json.loads(l.strip()))

In [90]:
# total length equals total number of reviews
print(len(reviews_data))

1143860

In [91]:
# convert list into pandas dataframe
reviews_df = pd.DataFrame.from_dict(reviews_data)
len(reviews_df)

1143860

In [92]:
reviews_df.head(2)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"11 19, 2014",A1QVBUH9E1V6I8,4639725183,Jamshed Mathur,No adverse comment.,Five Stars,1416355200,NaN,NaN,NaN
1,5.0,True,"10 13, 2016",A3GEOILWLK86XM,4639725183,itsjustme,Gift for college student.,Great product.,1476316800,NaN,NaN,NaN

## Merge DataFrames

In [93]:
combined_df = grocery_df.merge(reviews_df, on='asin', how='left')
combined_df.shape

(1412977, 29)

In [94]:
# remove whitespace in column names
combined_df.columns = combined_df.columns.str.replace(' ', '')

In [95]:
combined_df.head(2)

,category,tech1,description,fit,title,also_buy,image_x,tech2,brand,feature,...,verified,reviewTime,reviewerID,reviewerName,reviewText,summary,unixReviewTime,vote,style,image_y
0,"[Grocery & Gourmet Food, Dairy, Cheese & Eggs,...",,"[BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS, Stat...",,Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,[],[],,Ariola Imports,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Grocery & Gourmet Food, Cooking & Baking, Sug...",,"[Shipped from UK, please allow 10 to 21 busine...",,Trim Healthy Mama Xylitol,"[B01898YHXK, B01BCM6LAC, B00Q4OL47O, B00Q4OL5Q...",[https://images-na.ssl-images-amazon.com/image...,,,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Clean Data
See other wrangling notebooks for additional details.

In [96]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1412977 entries, 0 to 1412976
Data columns (total 29 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   category        1412977 non-null  object
 1   tech1           1412977 non-null  object
 2   description     1412977 non-null  object
 3   fit             1412977 non-null  object
 4   title           1412977 non-null  object
 5   also_buy        1412977 non-null  object
 6   image_x         1412977 non-null  object
 7   tech2           1412977 non-null  object
 8   brand           1412977 non-null  object
 9   feature         1412977 non-null  object
 10  rank            1412977 non-null  object
 11  also_view       1412977 non-null  object
 12  main_cat        1412977 non-null  object
 13  similar_item    1412977 non-null  object
 14  date            1412977 non-null  object
 15  price           1412977 non-null  object
 16  asin            1412977 non-null  object
 17  details         1412905 non-null  object
 18  overall         1167889 non-null  float64
 19  verified        1167889 non-null  object
 20  reviewTime      1167889 non-null  object
 21  reviewerID      1167889 non-null  object
 22  reviewerName    1167748 non-null  object
 23  reviewText      1167494 non-null  object
 24  summary         1167669 non-null  object
 25  unixReviewTime  1167889 non-null  float64
 26  vote            161854 non-null   object
 27  style           606595 non-null   object
 28  image_y         9656 non-null     object
dtypes: float64(2), object(27)
memory usage: 323.4+ MB

In [97]:
# Clean multiple missing types of values
combined_df.replace({'': np.nan, 'NaN': np.nan, 0: np.nan}, inplace=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1412977 entries, 0 to 1412976
Data columns (total 29 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   category        1412977 non-null  object
 1   tech1           6693 non-null     object
 2   description     1412977 non-null  object
 3   fit             4 non-null        object
 4   title           1412974 non-null  object
 5   also_buy        1412977 non-null  object
 6   image_x         1412977 non-null  object
 7   tech2           0 non-null        float64
 8   brand           1393609 non-null  object
 9   feature         1412977 non-null  object
 10  rank            1412977 non-null  object
 11  also_view       1412977 non-null  object
 12  main_cat        1411049 non-null  object
 13  similar_item    1849 non-null     object
 14  date            26188 non-null    object
 15  price           935067 non-null   object
 16  asin            1412977 non-null  object
 17  details         1412905 non-null  object
 18  overall         1167889 non-null  float64
 19  verified        1015183 non-null  object
 20  reviewTime      1167889 non-null  object
 21  reviewerID      1167889 non-null  object
 22  reviewerName    1167748 non-null  object
 23  reviewText      1167494 non-null  object
 24  summary         1167669 non-null  object
 25  unixReviewTime  1167889 non-null  float64
 26  vote            161854 non-null   object
 27  style           606595 non-null   object
 28  image_y         9656 non-null     object
dtypes: float64(3), object(26)
memory usage: 323.4+ MB

In [98]:
# Clean blank lists in multiple columns
columns = ['category', 'description', 'also_buy', 'feature', 'also_view']
for col in combined_df[columns]:
    combined_df[col] = combined_df[col].apply(lambda i: np.nan if len(i)==0 else i)

In [99]:
# Remove columns that don't have at least half of the data.
drop_thresh = combined_df.shape[0] * 0.51
combined_df = combined_df.dropna(thresh=drop_thresh, how='all', axis='columns').copy()

In [100]:
for col in combined_df.columns:
    print(f'Total NaN in {col} is {combined_df[col].isnull().sum()}')

Total NaN in category is 0
Total NaN in description is 128801
Total NaN in title is 3
Total NaN in also_buy is 356253
Total NaN in image_x is 0
Total NaN in brand is 19368
Total NaN in rank is 0
Total NaN in also_view is 665660
Total NaN in main_cat is 1928
Total NaN in price is 477910
Total NaN in asin is 0
Total NaN in details is 72
Total NaN in overall is 245088
Total NaN in verified is 397794
Total NaN in reviewTime is 245088
Total NaN in reviewerID is 245088
Total NaN in reviewerName is 245229
Total NaN in reviewText is 245483
Total NaN in summary is 245308
Total NaN in unixReviewTime is 245088

In [101]:
# Drop several columns
# image_x link because this project won't analyze images.
# reviewTime and unixReviewTime because this project won't do time series analysis.
# reviewerName for privacy considerations
combined_df.drop(columns=['image_x', 'reviewTime', 'unixReviewTime', 'reviewerName'], inplace=True)
combined_df.head(2)

,category,description,title,also_buy,brand,rank,also_view,main_cat,price,asin,details,overall,verified,reviewerID,reviewText,summary
0,"[Grocery & Gourmet Food, Dairy, Cheese & Eggs,...","[BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS, Stat...",Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,NaN,Ariola Imports,"165,181 in Grocery & Gourmet Food (","[B0000D9MYM, B0000D9MYL, B00ADHIGBA, B00H9OX59...",Grocery,$41.91,0681727810,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Grocery & Gourmet Food, Cooking & Baking, Sug...","[Shipped from UK, please allow 10 to 21 busine...",Trim Healthy Mama Xylitol,"[B01898YHXK, B01BCM6LAC, B00Q4OL47O, B00Q4OL5Q...",NaN,"315,867 in Grocery & Gourmet Food (",NaN,Grocery,NaN,0853347867,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1412977 entries, 0 to 1412976
Data columns (total 16 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   category     1412977 non-null  object
 1   description  1284176 non-null  object
 2   title        1412974 non-null  object
 3   also_buy     1056724 non-null  object
 4   brand        1393609 non-null  object
 5   rank         1412977 non-null  object
 6   also_view    747317 non-null   object
 7   main_cat     1411049 non-null  object
 8   price        935067 non-null   object
 9   asin         1412977 non-null  object
 10  details      1412905 non-null  object
 11  overall      1167889 non-null  float64
 12  verified     1015183 non-null  object
 13  reviewerID   1167889 non-null  object
 14  reviewText   1167494 non-null  object
 15  summary      1167669 non-null  object
dtypes: float64(1), object(15)
memory usage: 183.3+ MB