## Imports

In [10]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

## Data Summary

In [11]:
df = pd.read_csv('../Data/grocery_data_cleaned.csv')

In [12]:
df.head(2)

,asin,category,description,title,also_buy,brand,feature,rank,also_view,main_cat,price,details
0,0681727810,"['Grocery & Gourmet Food', 'Dairy, Cheese & Eg...","['BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS', 'S...",Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,[],Ariola Imports,[],"165,181 in Grocery & Gourmet Food (","['B0000D9MYM', 'B0000D9MYL', 'B00ADHIGBA', 'B0...",Grocery,41.91,NaN
1,0853347867,"['Grocery & Gourmet Food', 'Cooking & Baking',...","['Shipped from UK, please allow 10 to 21 busin...",Trim Healthy Mama Xylitol,"['B01898YHXK', 'B01BCM6LAC', 'B00Q4OL47O', 'B0...",NaN,[],"315,867 in Grocery & Gourmet Food (",[],Grocery,NaN,NaN

## Set Index

In [13]:
df.set_index('asin', inplace=True)
df.head(2)

,category,description,title,also_buy,brand,feature,rank,also_view,main_cat,price,details
asin,,,,,,,,,,,
0681727810,"['Grocery & Gourmet Food', 'Dairy, Cheese & Eg...","['BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS', 'S...",Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,[],Ariola Imports,[],"165,181 in Grocery & Gourmet Food (","['B0000D9MYM', 'B0000D9MYL', 'B00ADHIGBA', 'B0...",Grocery,41.91,NaN
0853347867,"['Grocery & Gourmet Food', 'Cooking & Baking',...","['Shipped from UK, please allow 10 to 21 busin...",Trim Healthy Mama Xylitol,"['B01898YHXK', 'B01BCM6LAC', 'B00Q4OL47O', 'B0...",NaN,[],"315,867 in Grocery & Gourmet Food (",[],Grocery,NaN,NaN

## Convert Objects to Categories

In [14]:
df_objects = df.select_dtypes(include='object')
df_objects.info()

<class 'pandas.core.frame.DataFrame'>
Index: 283354 entries, 0681727810 to B01HJFRDDA
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   category     283354 non-null  object
 1   description  283354 non-null  object
 2   title        283351 non-null  object
 3   also_buy     283354 non-null  object
 4   brand        272098 non-null  object
 5   feature      283354 non-null  object
 6   rank         283354 non-null  object
 7   also_view    283354 non-null  object
 8   main_cat     281991 non-null  object
 9   details      283330 non-null  object
dtypes: object(10)
memory usage: 23.8+ MB

In [15]:
dfo_unique = pd.DataFrame(df_objects.nunique()).reset_index()
dfo_unique.columns = ['Features', 'Number of Categories']
dfo_unique.sort_values(by='Number of Categories', ascending=False)
dfo_unique

      Features  Number of Categories
0     category                  1355
1  description                224318
2        title                280831
3     also_buy                 80028
4        brand                 38900
5      feature                 12190
6         rank                246846
7    also_view                114476
8     main_cat                    32
9      details                268409

In [16]:
# TODO Discuss memory error
# df_cat = pd.get_dummies(df_objects)
# df_cat.info()

MemoryError: Unable to allocate 59.2 GiB for an array with shape (283354, 224318) and data type uint8

In [22]:
df_objects_cat = df_objects.drop(['description', 'title', 'also_buy', 'brand', 'rank', 'also_view', 'details'], axis=1)
df_objects_cat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 283354 entries, 0681727810 to B01HJFRDDA
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   category  283354 non-null  object
 1   feature   283354 non-null  object
 2   main_cat  281991 non-null  object
dtypes: object(3)
memory usage: 16.7+ MB

In [23]:
df_cat_2 = pd.get_dummies(df_objects_cat)
df_cat_2.info()

MemoryError: Unable to allocate 3.22 GiB for an array with shape (283354, 12190) and data type uint8

Even removing the majority of the columns runs into this issue. Want to discuss if I'm going down the correct path before changing my system.   
There are several suggestions to fix this here: https://stackoverflow.com/questions/57507832/unable-to-allocate-array-with-shape-and-data-type  
I'm using Microsoft Windows [Version 10.0.19042.1110]  
Python 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32