## Imports

In [1]:
import pandas as pd

## Data Summary

In [2]:
df = pd.read_csv('../Data/eda_data.csv')

In [3]:
df.head(2)

,category,description,title,also_buy,brand,rank,main_cat,asin,details,overall,verified,reviewerID,reviewText,summary
0,"['Grocery & Gourmet Food', 'Beverages', 'Coffe...",['Lipton Yellow Label Tea use only the finest ...,Lipton Yellow Label Tea (loose tea) - 450g,"['B00886E4K0', 'B00CREXSHY', 'B001QTRGAQ', 'B0...",Lipton,"30,937 in Grocery & Gourmet Food (",Grocery,4639725043,NaN,5.0,True,A1J205ZK25TZ6W,I make the best brewed iced tea with this yell...,Best for brewed iced tea.
1,"['Grocery & Gourmet Food', 'Beverages', 'Coffe...",['Lipton Yellow Label Tea use only the finest ...,Lipton Yellow Label Tea (loose tea) - 450g,"['B00886E4K0', 'B00CREXSHY', 'B001QTRGAQ', 'B0...",Lipton,"30,937 in Grocery & Gourmet Food (",Grocery,4639725043,NaN,3.0,True,ACOICLIJQYECU,I have recently started drinking hot tea again...,Not Bad for iced Tea

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086548 entries, 0 to 1086547
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   category     1086548 non-null  object
 1   description  993137 non-null   object
 2   title        1086548 non-null  object
 3   also_buy     929733 non-null   object
 4   brand        1078563 non-null  object
 5   rank         1042485 non-null  object
 6   main_cat     1085268 non-null  object
 7   asin         1086548 non-null  object
 8   details      1086497 non-null  object
 9   overall      1086548 non-null  float64
 10  verified     1086548 non-null  bool
 11  reviewerID   1086548 non-null  object
 12  reviewText   1086175 non-null  object
 13  summary      1086335 non-null  object
dtypes: bool(1), float64(1), object(12)
memory usage: 108.8+ MB

### Preprocessing: split ratings into train and test sets

In [9]:
print(df.shape)
print(df.reviewerID.nunique())
print(df.asin.nunique())

(1086548, 14)
127496
41280