# Grocery Recommender - Capstone Two<a id='Grocery_Recommender'></a>
## Grocery and Gourmet Food 5 (Reviews) doesn't have the desired information.
<a href=https://nijianmo.github.io/amazon/>Amazon Review Data (2018)</a> accessed on 4/20/21.

In [2]:
import json
import gzip
import pandas as pd

In [3]:
# load the data
data = []
with gzip.open('../Raw_Data/Grocery_and_Gourmet_Food_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

In [4]:
# total length of list, this number equals total number of products
print(len(data))

1143860

In [5]:
# first row of the list
print(data[0])

{'overall': 5.0, 'verified': True, 'reviewTime': '11 19, 2014', 'reviewerID': 'A1QVBUH9E1V6I8', 'asin': '4639725183', 'reviewerName': 'Jamshed Mathur', 'reviewText': 'No adverse comment.', 'summary': 'Five Stars', 'unixReviewTime': 1416355200}

In [6]:
# convert list into pandas dataframe
df = pd.DataFrame.from_dict(data)
len(df)

1143860

In [7]:
# View first 5 rows of dataframe
df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"11 19, 2014",A1QVBUH9E1V6I8,4639725183,Jamshed Mathur,No adverse comment.,Five Stars,1416355200,NaN,NaN,NaN
1,5.0,True,"10 13, 2016",A3GEOILWLK86XM,4639725183,itsjustme,Gift for college student.,Great product.,1476316800,NaN,NaN,NaN
2,5.0,True,"11 21, 2015",A32RD6L701BIGP,4639725183,Krystal Clifton,"If you like strong tea, this is for you. It mi...",Strong,1448064000,NaN,NaN,NaN
3,5.0,True,"08 12, 2015",A2UY1O1FBGKIE6,4639725183,U. Kane,Love the tea. The flavor is way better than th...,Great tea,1439337600,NaN,NaN,NaN
4,5.0,True,"05 28, 2015",A3QHVBQYDV7Z6U,4639725183,The Nana,I have searched everywhere until I browsed Ama...,This is the tea I remembered!,1432771200,NaN,NaN,NaN