# Wrangling Grocery and Gourmet Food Data

## Contents <a id='Contents' />
* [Environment Variables](#Environment_Variables)
* [Introduction](#Introduction)
* [Imports](#Imports)
* [Load Data](#Load_Data)
* [Explore Data](#Explore_Data)
* [Cleanup](#Cleanup)
* [Review Distributions](#Review_Distributions)
* [Population Data](#Population_Data)
* [Target Features](#Target_Features)
* [Save Data](#Save_Data)
* [Summary](#Summary)
* [Tests](#Tests)
* [References](#References)

## Environment Variables <a id='Environment_Variables' />

Note: The actual values would be kept in a separate file and wouldn't be shared/in source control. They are shown below for simplicity.

In [1]:
data_filepath = '../Raw_Data/meta_Grocery_and_Gourmet_Food.json.gz'
# This path is still in the markdown below because haven't found a working way to use a variable there.
doc_filepath = '../Grocery_Recommender_-_Capstone_Two.pdf'

## Introduction <a id='Introduction' />
Data Wrangling is the process of collecting, organizing, and determining how well-defined the data is.  
See [Grocery Recommender - Capstone Two](../Grocery_Recommender_-_Capstone_Two.pdf) for details about this project.

## Imports <a id='Imports' />

In [2]:
import json
import gzip
import unittest
import pandas as pd
import numpy as np
import csv
import os.path
import logging

## Load Data<a id='Load_Data' />

In [3]:
##Load the data
data = []
with gzip.open(data_filepath) as f:
    for l in f:
        data.append(json.loads(l.strip()))

In [4]:
# Confirm data loaded by checking total number of products.
print(len(data))

287051

In [5]:
# View raw data.
print(data[0])

{'category': ['Grocery & Gourmet Food', 'Dairy, Cheese & Eggs', 'Cheese', 'Gouda'], 'tech1': '', 'description': ['BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS', 'Statements regarding dietary supplements have not been evaluated by the FDA and are not intended to diagnose, treat, cure, or prevent any disease or health condition.'], 'fit': '', 'title': 'Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs', 'also_buy': [], 'image': [], 'tech2': '', 'brand': 'Ariola Imports', 'feature': [], 'rank': '165,181 in Grocery & Gourmet Food (', 'also_view': ['B0000D9MYM', 'B0000D9MYL', 'B00ADHIGBA', 'B00H9OX598', 'B001LM42GY', 'B001LM5TDY'], 'main_cat': 'Grocery', 'similar_item': '', 'date': '', 'price': '$41.91', 'asin': '0681727810'}

In [6]:
# Will use a pandas dataframe to explore and analyse data.
grocery_data = pd.DataFrame.from_dict(data)
grocery_data.head()

,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,details
0,"[Grocery & Gourmet Food, Dairy, Cheese & Eggs,...",,"[BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS, Stat...",,Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,[],[],,Ariola Imports,[],"165,181 in Grocery & Gourmet Food (","[B0000D9MYM, B0000D9MYL, B00ADHIGBA, B00H9OX59...",Grocery,,,$41.91,0681727810,NaN
1,"[Grocery & Gourmet Food, Cooking & Baking, Sug...",,"[Shipped from UK, please allow 10 to 21 busine...",,Trim Healthy Mama Xylitol,"[B01898YHXK, B01BCM6LAC, B00Q4OL47O, B00Q4OL5Q...",[https://images-na.ssl-images-amazon.com/image...,,,[],"315,867 in Grocery & Gourmet Food (",[],Grocery,,,,0853347867,NaN
2,"[Grocery & Gourmet Food, Cooking & Baking, Fro...",,[Jazz up your cakes with a sparkling monogram ...,,Letter C - Swarovski Crystal Monogram Wedding ...,[],[],,Unik Occasions,[],"[>#669,941 in Kitchen & Dining (See Top 100 in...",[B07DXN65TF],Amazon Home,,"September 21, 2010",$29.95,1888861118,NaN
3,"[Grocery & Gourmet Food, Cooking & Baking, Fro...",,"[Large Letter - Height 4.75""]",,Letter H - Swarovski Crystal Monogram Wedding ...,[],[],,Other,"[Large Letter - Height 4.75""]","[>#832,581 in Kitchen & Dining (See Top 100 in...",[],Amazon Home,,"September 11, 2011",$11.45,1888861517,NaN
4,"[Grocery & Gourmet Food, Cooking & Baking, Fro...",,"[4.75""]",,Letter S - Swarovski Crystal Monogram Wedding ...,[],[],,Unik Occasions,"[4.75"" height]","[>#590,999 in Kitchen & Dining (See Top 100 in...",[],Amazon Home,,"September 11, 2011",$15.00,1888861614,NaN

In [7]:
# Overview of the data shows it already is pretty well defined.
# Only the details column is missing (NaN) some values.
grocery_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287051 entries, 0 to 287050
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      287051 non-null  object
 1   tech1         287051 non-null  object
 2   description   287051 non-null  object
 3   fit           287051 non-null  object
 4   title         287051 non-null  object
 5   also_buy      287051 non-null  object
 6   image         287051 non-null  object
 7   tech2         287051 non-null  object
 8   brand         287051 non-null  object
 9   feature       287051 non-null  object
 10  rank          287051 non-null  object
 11  also_view     287051 non-null  object
 12  main_cat      287051 non-null  object
 13  similar_item  287051 non-null  object
 14  date          287051 non-null  object
 15  price         287051 non-null  object
 16  asin          287051 non-null  object
 17  details       287027 non-null  object
dtypes: object(18)
memory usage: 39.4+ MB

In [8]:
# added much later

grocery_data['price'].apply(type).value_counts()

<class 'str'>    287051
Name: price, dtype: int64

In [9]:
# Another way to see which features are missing values. 
# This is easier to read if there's a lot of columns and similar number counts.
grocery_data.isnull().any()

category        False
tech1           False
description     False
fit             False
title           False
also_buy        False
image           False
tech2           False
brand           False
feature         False
rank            False
also_view       False
main_cat        False
similar_item    False
date            False
price           False
asin            False
details          True
dtype: bool

In [10]:
# The number of features for each item/row vary (17-18).
grocery_data.count(1)

0         17
1         17
2         17
3         17
4         17
          ..
287046    18
287047    18
287048    18
287049    18
287050    18
Length: 287051, dtype: int64

### Observations and Questions
- Think useful features will probably be title, also_buy, rank, also_view, similar_item, and date.
- many special characters in multiple columns.
- 'date' is full month dd, yyyy.
- 'price' has $ appended.
- Probably want to replace index with 'asin'.
- From the numbers above it looks the various counts between columns, rows, and non-null values are consistent. However, looking at a small sample of the data it appears like more than just one value is null for several of the rows.

Question 1) Why do the counts appear off?  
- Is it because of whitespace? Don't think so because of the strip method when loading data. Also, selecting the cell area inside the dataframe doesn't highlight anything in these cells. However, it does select the text in non-empty cells.
- Is it because they are blank? Assuming this is it for now.

Question 2) Difference(s) for blank value versus blank list in Pandas?  
Question 3) Is all currency in $. Also, is this in the actual data or is this a formatter in Pandas for this column?

In [11]:
# Make copy of dataframe to convert types and then analyze further below.
# https://pbpython.com/pandas_dtypes.html

grocery_data_copy = grocery_data.copy()

## Explore Data<a id='Explore_Data' />
### Find Data of Interest

In [12]:
# Interested in gluten free data because of diet restrictions.
# Find all products whose title includes gluten free using 'standard' lists and loops.
gluten_free_list = []
for d in data:
    if 'title' in d and 'gluten free' in d['title'].lower():
        gluten_free_list.append(d)

print(len(gluten_free_list))

5537

In [13]:
# Example product titles.
for d in gluten_free_list[:10]:
    print(d['title'])

Sans Sucre Mousse Mix Gluten Free, Strawberry
Sans Sucre Chocolate Mousse Mix - Gluten Free
Sans Sucre Cheesecake Mousse Mix - Gluten Free
Sans Sucre Lemon Mousse Mix - Gluten Free
Ajika Royal Basmati Pilaf Instant Meal, Side Dish, Gluten Free, No Salt or Msg
Natures Plus Source of Life Energy Shake - Granola Flavor - 2.2 lbs Multivitamin, Mineral &amp; Protein Powder - Whole Food Meal Replacement - Non GMO, Vegetarian, Gluten Free - 26 Servings
Borsari All Natural Seasoned Salt, Citrus Blend, Gluten Free, No MSG, 4 Ounce Shaker Bottle
Natures Plus Spirutein Shake - Nutty Berry Burst Flavor - 2.4 lbs, Spirulina Protein Powder - Plant Based Meal Replacement, Vitamins &amp; Minerals for Energy - Vegetarian, Gluten Free - 30 Servings
Nando's Medium PERi-PERi Sauce - Gluten Free | Non GMO | 4.7 Oz (2 Pack)
Amish Country Popcorn - Medium Yellow Popcorn - Old Fashioned, Non GMO, and Gluten Free - with Recipe Guide and 1 Year Freshness Warranty (2 Pound Burlap)

In [14]:
# The Pandas way of doing the above is less lines of code
gluten_free_dataframe = grocery_data[grocery_data['title'].str.lower().str.contains('gluten free')]
gluten_free_dataframe.count()

category        5537
tech1           5537
description     5537
fit             5537
title           5537
also_buy        5537
image           5537
tech2           5537
brand           5537
feature         5537
rank            5537
also_view       5537
main_cat        5537
similar_item    5537
date            5537
price           5537
asin            5537
details         5537
dtype: int64

In [15]:
gluten_free_dataframe.title.iloc[:10]

1180        Sans Sucre Mousse Mix Gluten Free, Strawberry
1184        Sans Sucre Chocolate Mousse Mix - Gluten Free
1185       Sans Sucre Cheesecake Mousse Mix - Gluten Free
1187            Sans Sucre Lemon Mousse Mix - Gluten Free
1543    Ajika Royal Basmati Pilaf Instant Meal, Side D...
1702    Natures Plus Source of Life Energy Shake - Gra...
1704    Borsari All Natural Seasoned Salt, Citrus Blen...
1717    Natures Plus Spirutein Shake - Nutty Berry Bur...
1755    Nando's Medium PERi-PERi Sauce - Gluten Free |...
1954    Amish Country Popcorn - Medium Yellow Popcorn ...
Name: title, dtype: object

In [16]:
# Finding specific brand I enjoy.
# Even though this is gluten free it doesn't show up in the gluten free dataframe because 'gluten free' isn't in the title.
brazi_bites = grocery_data[grocery_data['brand'].str.lower().str.contains('brazi bites')].T
brazi_bites

,255470,266702
category,"[Grocery & Gourmet Food, Frozen, Bread & Dough]","[Grocery & Gourmet Food, Snack Foods, Crackers]"
tech1,,
description,"[These are 100 percent USDA Certified organic,...","[Brazi Bites Original Brazilian Cheese Bread, ..."
fit,,
title,"Brazi Bites, Brazilian Cheese Bread, Original,...","Brazi Bites Original Brazilian Cheese Bread, 1..."
also_buy,"[B00FE9LC0O, B0047IG6OU, B000RULSYK, B078HRLNL...",[]
image,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
tech2,,
brand,Brazi Bites,Brazi Bites
feature,[],[]
rank,[],"810,992 in Grocery & Gourmet Food ("
also_view,"[B008L1A0N2, B0764JXX6R, B00H301R34, B013SGABH...","[B001ACMCNU, B008L1A0N2, B0764JXX6R, B00PBLEUF..."
main_cat,Grocery,Grocery
similar_item,,
date,,
price,,
asin,B014BCDF9U,B018SRGO24
details,{' Product Dimensions: ': '6 x 3 x 9 ...,"{'Shipping Weight:': '10 pounds', 'ASIN: ': 'B..."

### Observations and Questions
- Probably want to replace index with 'asin'.
- Will try to use only pandas' logic going forward in notebooks.
- So far haven't found any values in 'tech1', 'fit', 'tech2', or 'similar_item'.
- Related to Question #1 There are definitely more missing/blank values than what the initial information revealed. Will need to research further.

Even though there are missing values in the data I'm interested there isn't appear to be enough data to justify only analyzing gluten fee items.
Therefore, shouldn't need to worry about dropping columns just based off the information I'm interested in. Instead, will worry about dropping based off of no data.

In [17]:
missing = pd.concat([grocery_data.isnull().sum(), 100 * grocery_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count'], ascending=False)

              count         %
details          24  0.008361
tech1             0  0.000000
asin              0  0.000000
price             0  0.000000
date              0  0.000000
similar_item      0  0.000000
main_cat          0  0.000000
also_view         0  0.000000
rank              0  0.000000
category          0  0.000000
brand             0  0.000000
tech2             0  0.000000
image             0  0.000000
also_buy          0  0.000000
title             0  0.000000
fit               0  0.000000
description       0  0.000000
feature           0  0.000000

This check also shows that hardly any data is missing. This is desired; however, it doesn't seem to be correct.

In [18]:
# Researching on a smaller data set to see what is happening.

tech1_has_blanks = gluten_free_dataframe[gluten_free_dataframe['tech1'] == ''].index
print('tech1 should have a length:', tech1_has_blanks)

asin_no_blanks = gluten_free_dataframe[gluten_free_dataframe['asin'] == ''].index
print('asin should not have anything:', asin_no_blanks)

tech1 should have a length: Int64Index([  1180,   1184,   1185,   1187,   1543,   1702,   1704,   1717,
              1755,   1954,
            ...
            286670, 286675, 286709, 286740, 286771, 286845, 286947, 286981,
            287001, 287009],
           dtype='int64', length=5534)
asin should not have anything: Int64Index([], dtype='int64')

### Answer to Question #1
Why do the counts appear off?  
The problem cells are blank.

In [19]:
# One way to solve the problem.

example_fix = gluten_free_dataframe.replace('', np.nan)
example_fix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5537 entries, 1180 to 287009
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      5537 non-null   object
 1   tech1         3 non-null      object
 2   description   5537 non-null   object
 3   fit           0 non-null      float64
 4   title         5537 non-null   object
 5   also_buy      5537 non-null   object
 6   image         5537 non-null   object
 7   tech2         0 non-null      float64
 8   brand         5379 non-null   object
 9   feature       5537 non-null   object
 10  rank          5537 non-null   object
 11  also_view     5537 non-null   object
 12  main_cat      5531 non-null   object
 13  similar_item  4 non-null      object
 14  date          13 non-null     object
 15  price         2652 non-null   object
 16  asin          5537 non-null   object
 17  details       5537 non-null   object
dtypes: float64(2), object(16)
memory usage: 821.9+ KB

This only fixed the issues with single cells. Blank lists are still an issue.

In [20]:
# Example of possible fix for 'rank' (object of blank values in lists).
gluten_free_dataframe['rank'] = gluten_free_dataframe['rank'].apply(lambda x: np.nan if len(x)==0 else x)
gluten_free_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5537 entries, 1180 to 287009
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      5537 non-null   object
 1   tech1         5537 non-null   object
 2   description   5537 non-null   object
 3   fit           5537 non-null   object
 4   title         5537 non-null   object
 5   also_buy      5537 non-null   object
 6   image         5537 non-null   object
 7   tech2         5537 non-null   object
 8   brand         5537 non-null   object
 9   feature       5537 non-null   object
 10  rank          5264 non-null   object
 11  also_view     5537 non-null   object
 12  main_cat      5537 non-null   object
 13  similar_item  5537 non-null   object
 14  date          5537 non-null   object
 15  price         5537 non-null   object
 16  asin          5537 non-null   object
 17  details       5537 non-null   object
dtypes: object(18)
memory usage: 821.9+ KB

<ipython-input-20-f5e3fcb334de>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gluten_free_dataframe['rank'] = gluten_free_dataframe['rank'].apply(lambda x: np.nan if len(x)==0 else x)

### Answer to Question #2
Difference(s) for blank value versus blank list in Pandas?  
Answer: The list is actually an object. Can fix the data for the list using series functions. To fix the blank values can use dataframe functions.

### Observations and Questions
- Running the lambda function above can only happen one time per session. Running just that cell multiple times results in an error.

Question 4) Is this common? Should I handle this scenario or is it expected everything will only run once in sequence?

In [21]:
research_dollar_sign = gluten_free_dataframe['price'] = gluten_free_dataframe.apply(lambda x: x['price'].replace('$', '').replace(',', ''), axis=1)
research_dollar_sign

<ipython-input-21-de3f277af295>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  research_dollar_sign = gluten_free_dataframe['price'] = gluten_free_dataframe.apply(lambda x: x['price'].replace('$', '').replace(',', ''), axis=1)

1180       5.49
1184       5.49
1185       5.49
1187       5.49
1543
          ...
286845    28.50
286947
286981
287001
287009    20.99
Length: 5537, dtype: object

### Answer to Question 3
Is all currency in $. Also, is this in the actual data or is this a formatter in Pandas for this column?

All prices that had values were in '$' that were actually in the data.
See the references section below for a helpful article and this solution.

In [22]:
# Thought 'asin' values were unique; however, they aren't.
grocery_data['asin'].value_counts().head(3700)

B00028OHI6    2
B0000CNU55    2
B00028LFUY    2
B0002VLEUM    2
B0002DUMZI    2
             ..
B0001J2NFK    2
B0001FQUMQ    2
B009ZAL17M    1
B0072DN0FA    1
B00BUVMK9C    1
Name: asin, Length: 3700, dtype: int64

In [23]:
# Spot checked some and it looks like these are just duplicates in the data of the same thing; only the index is different..
# Also, percentage wise the majority of the 'asin' number are unique so should be ok to use as id.
grocery_data[grocery_data['asin'] == 'B0001M0YTO']

,category,tech1,description,fit,title,also_buy,image,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,details
2480,"[Grocery & Gourmet Food, Herbs, Spices & Seaso...",,[Seasoning Pizza. It is a high quality healthy...,,Frontier Natural Products Pizza Seasoning -- 1...,"[B0001M10ZG, B001VNKT0Q, B001VNGKAO, B00GCDPLC...",[],,Frontier,[],"56,442 in Grocery & Gourmet Food (","[B0001M10ZG, B076THTQ1K, B00DUF3CHU, B000WR2GN...",Grocery,,,$14.99,B0001M0YTO,{' Product Dimensions: ': '4 x 4 x 10...
6177,"[Grocery & Gourmet Food, Herbs, Spices & Seaso...",,[Seasoning Pizza. It is a high quality healthy...,,Frontier Natural Products Pizza Seasoning -- 1...,"[B0001M10ZG, B001VNKT0Q, B001VNGKAO, B00GCDPLC...",[],,Frontier,[],"56,442 in Grocery & Gourmet Food (","[B0001M10ZG, B076THTQ1K, B00DUF3CHU, B000WR2GN...",Grocery,,,$14.99,B0001M0YTO,{' Product Dimensions: ': '4 x 4 x 10...

### Question 5) What is the best way of handling the duplicate 'asin'?
- Will making the 'asin' the index automatically merge the duplicates?
- Should half of them be deleted first?
- Should all of them be deleted since they are less than 1.5% of the data?

In [24]:
# # Most common brands.
grocery_data['brand'].value_counts()

                        11419
Unknown                  1780
Black Tie Mercantile     1458
Trader Joe's             1234
McCormick                1041
                        ...
JT's cart                   1
Wide Awake                  1
Tartuflanghe                1
Chuanzhiwei                 1
Blenheim Ginger Ale         1
Name: brand, Length: 38904, dtype: int64

In [25]:
# Look to see what the most common categories are.
grocery_data['category'].value_counts()

[Grocery & Gourmet Food, Beverages, Coffee, Tea & Cocoa, Tea, Tea Samplers]                                                                                                                                                                                               7609
[Grocery & Gourmet Food, Candy & Chocolate, Candy & Chocolate Bars]                                                                                                                                                                                                       7512
[Grocery & Gourmet Food, Beverages, Coffee, Tea & Cocoa, Coffee, Single-Serve Capsules & Pods]                                                                                                                                                                            6745
[Grocery & Gourmet Food, Beverages, Coffee, Tea & Cocoa, Coffee, Ground Coffee]                                                                                                                                                                                           5326
[Grocery & Gourmet Food, Cooking & Baking, Frosting, Icing & Decorations, Cake & Cupcake Toppers, Cake Toppers]                                                                                                                                                           4821
                                                                                                                                                                                                                                                                          ...
[Grocery & Gourmet Food, Frozen, Ice Cream & Novelties, Features of this item include: 1/2 Zip, Cotton, Presidents Day Apparel, Winter Blowout Apparel]                                                                                                                      1
[Grocery & Gourmet Food, Jams, Jellies & Sweet Spreads, Nut & Seed Butters, Peanut Butter, Handmade with polymer clay, 16" Silver Ball Chain Necklace]                                                                                                                       1
[Grocery & Gourmet Food, Dairy, Cheese & Eggs, Cheese, Paneer]                                                                                                                                                                                                               1
[Grocery & Gourmet Food, Beverages, Bottled Beverages, Water & Drink Mixes, Powdered Drink Mixes & Flavorings, Powdered Drink Mixes, Soft Drink Mixes, 100% Polyvinyl Chloride, Imported, fabric lining, magnetic closure, 8" shoulder drop, 11.75" high, 12.25" wide]       1
[Grocery & Gourmet Food, Meat & Seafood, Beef, Steaks, Eye of Round]                                                                                                                                                                                                         1
Name: category, Length: 1355, dtype: int64

In [26]:
gluten_free_dataframe['category']

1180      [Grocery & Gourmet Food, Cooking & Baking, Pud...
1184      [Grocery & Gourmet Food, Cooking & Baking, Pud...
1185       [Grocery & Gourmet Food, Breads & Bakery, Cakes]
1187      [Grocery & Gourmet Food, Cooking & Baking, Pud...
1543      [Grocery & Gourmet Food, Dried Beans, Grains &...
                                ...
286845    [Grocery & Gourmet Food, Breads & Bakery, Brea...
286947    [Grocery & Gourmet Food, Snack Foods, Fruit Sn...
286981    [Grocery & Gourmet Food, Breakfast Foods, Brea...
287001    [Grocery & Gourmet Food, Snack Foods, Snack & ...
287009    [Grocery & Gourmet Food, Snack Foods, Jerky & ...
Name: category, Length: 5537, dtype: object

In [27]:
gluten_free_dataframe.dtypes

category        object
tech1           object
description     object
fit             object
title           object
also_buy        object
image           object
tech2           object
brand           object
feature         object
rank            object
also_view       object
main_cat        object
similar_item    object
date            object
price           object
asin            object
details         object
dtype: object

In [28]:
# This results isn't helpful because the column values are in a list.  
# Tested various possible solutions on a smaller sample set. This one worked as desired.
# test = gluten_free_dataframe['category'].astype(str)
# test = gluten_free_dataframe['category'].apply(eval)
# test.value_counts()
# gluten_free_dataframe.explode('category')
# gluten_free_dataframe['category']

# Copy data types to convert, then analyze

In [29]:
# Note: This has many additional checks and concepts added in different ways for learning purposes.
def convert_currency(val: str) -> float:
    """
    Converts input to string and output to Decimal (an accurate float for currency).
     - Remove $ and commas.
     - Change number ranges into np.NaN.
     - Change other problem characters to np.NaN.
     - All values must already be in the same currency.
    """
    new_val = str(val)
    
    # Changing problem values such as HTML and blanks to np.NaN as soon as possible.
    # TODO: best way to handle performance for these checks?
    if new_val == '':
        return np.NaN
    if ('/' in new_val) | ('{' in new_val) | ('}' in new_val) | ('<' in new_val) | ('>' in new_val):
        logging.info(f"Converting problem character(s) to np.NaN. Original: {new_val}")
        return np.NaN
    # TODO: Could change to the min, mean, or max price in the future.
    if ' - ' in new_val:
        logging.warning(f"Converting range of numbers to np.NaN. Original: {new_val}")
        return np.NaN
        
    # If other common problem characters are found in the data they should be removed here.
    # The exception is other currency symbols because that will remove key meaning from the data.
    new_val = new_val.replace(',','').replace('$', '')
    
    # Return the desired output or provide a warning.
    try:
        new_val = round(float(new_val), 2)
        return new_val
    except ValueError:
        # This is a type of issue the user can fix on a case by case basis.
        logging.warning(f"""
            WARNING: The new value cannot be converted. Only numbers and '.' are allowed in the data.
            - If there are values in multiple currencies the data must be converted into just $ first.
            - Most likely this problem is because of unexpected character(s) at: {val}.  
        """)
        raise ValueError
        # Returning the original input so the non problem values can still be processed.
        # return val

In [30]:
grocery_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287051 entries, 0 to 287050
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      287051 non-null  object
 1   tech1         287051 non-null  object
 2   description   287051 non-null  object
 3   fit           287051 non-null  object
 4   title         287051 non-null  object
 5   also_buy      287051 non-null  object
 6   image         287051 non-null  object
 7   tech2         287051 non-null  object
 8   brand         287051 non-null  object
 9   feature       287051 non-null  object
 10  rank          287051 non-null  object
 11  also_view     287051 non-null  object
 12  main_cat      287051 non-null  object
 13  similar_item  287051 non-null  object
 14  date          287051 non-null  object
 15  price         287051 non-null  object
 16  asin          287051 non-null  object
 17  details       287027 non-null  object
dtypes: object(18)
memory usage: 39.4+ MB

In [31]:
# testing
# grocery_data_copy = grocery_data_copy.fillna('')

In [32]:
grocery_data_copy['price'] = grocery_data_copy['price'].apply(convert_currency)

grocery_data_copy.info()

WARNING:root:Converting range of numbers to np.NaN. Original: $9.97 - $137.08
WARNING:root:Converting range of numbers to np.NaN. Original: $10.00 - $81.99
WARNING:root:Converting range of numbers to np.NaN. Original: $12.47 - $109.99
WARNING:root:Converting range of numbers to np.NaN. Original: $19.49 - $36.50
WARNING:root:Converting range of numbers to np.NaN. Original: $20.08 - $43.41
WARNING:root:Converting range of numbers to np.NaN. Original: $9.88 - $32.00
WARNING:root:Converting range of numbers to np.NaN. Original: $12.99 - $148.76
WARNING:root:Converting range of numbers to np.NaN. Original: $8.98 - $59.01
WARNING:root:Converting range of numbers to np.NaN. Original: $15.49 - $40.84
WARNING:root:Converting range of numbers to np.NaN. Original: $21.00 - $192.46
WARNING:root:Converting range of numbers to np.NaN. Original: $11.70 - $71.99
WARNING:root:Converting range of numbers to np.NaN. Original: $4.89 - $31.47
WARNING:root:Converting range of numbers to np.NaN. Original: $9.90 - $21.95
WARNING:root:Converting range of numbers to np.NaN. Original: $17.24 - $39.20
WARNING:root:Converting range of numbers to np.NaN. Original: $35.50 - $229.99
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $49.99
WARNING:root:Converting range of numbers to np.NaN. Original: $17.34 - $34.99
WARNING:root:Converting range of numbers to np.NaN. Original: $8.25 - $139.74
WARNING:root:Converting range of numbers to np.NaN. Original: $5.70 - $57.99
WARNING:root:Converting range of numbers to np.NaN. Original: $54.99 - $815.63
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $885.00
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $841.25
WARNING:root:Converting range of numbers to np.NaN. Original: $38.49 - $499.74
WARNING:root:Converting range of numbers to np.NaN. Original: $18.99 - $239.72
WARNING:root:Converting range of numbers to np.NaN. Original: $18.20 - $90.00
WARNING:root:Converting range of numbers to np.NaN. Original: $34.99 - $543.75
WARNING:root:Converting range of numbers to np.NaN. Original: $44.99 - $574.88
WARNING:root:Converting range of numbers to np.NaN. Original: $16.90 - $157.17
WARNING:root:Converting range of numbers to np.NaN. Original: $38.49 - $500.00
WARNING:root:Converting range of numbers to np.NaN. Original: $36.05 - $500.00
WARNING:root:Converting range of numbers to np.NaN. Original: $29.99 - $337.08
WARNING:root:Converting range of numbers to np.NaN. Original: $25.80 - $499.74
WARNING:root:Converting range of numbers to np.NaN. Original: $16.80 - $255.94
WARNING:root:Converting range of numbers to np.NaN. Original: $11.49 - $59.99
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $814.38
WARNING:root:Converting range of numbers to np.NaN. Original: $8.98 - $51.23
WARNING:root:Converting range of numbers to np.NaN. Original: $5.75 - $29.85
WARNING:root:Converting range of numbers to np.NaN. Original: $15.01 - $146.02
WARNING:root:Converting range of numbers to np.NaN. Original: $20.56 - $35.99
WARNING:root:Converting range of numbers to np.NaN. Original: $10.49 - $71.99
WARNING:root:Converting range of numbers to np.NaN. Original: $34.99 - $543.75
WARNING:root:Converting range of numbers to np.NaN. Original: $11.99 - $32.99
WARNING:root:Converting range of numbers to np.NaN. Original: $31.98 - $359.36
WARNING:root:Converting range of numbers to np.NaN. Original: $12.95 - $14.49
WARNING:root:Converting range of numbers to np.NaN. Original: $11.84 - $117.62
WARNING:root:Converting range of numbers to np.NaN. Original: $10.98 - $36.79
WARNING:root:Converting range of numbers to np.NaN. Original: $38.94 - $298.93
WARNING:root:Converting range of numbers to np.NaN. Original: $14.60 - $25.00
WARNING:root:Converting range of numbers to np.NaN. Original: $18.99 - $277.22
WARNING:root:Converting range of numbers to np.NaN. Original: $4.50 - $39.13
WARNING:root:Converting range of numbers to np.NaN. Original: $25.99 - $172.31
WARNING:root:Converting range of numbers to np.NaN. Original: $75.00 - $1,602.50
WARNING:root:Converting range of numbers to np.NaN. Original: $26.95 - $63.68
WARNING:root:Converting range of numbers to np.NaN. Original: $10.00 - $172.63
WARNING:root:Converting range of numbers to np.NaN. Original: $8.34 - $249.88
WARNING:root:Converting range of numbers to np.NaN. Original: $38.94 - $298.93
WARNING:root:Converting range of numbers to np.NaN. Original: $9.59 - $26.99
WARNING:root:Converting range of numbers to np.NaN. Original: $23.75 - $243.99
WARNING:root:Converting range of numbers to np.NaN. Original: $38.49 - $500.00
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $49.99
WARNING:root:Converting range of numbers to np.NaN. Original: $17.39 - $59.95
WARNING:root:Converting range of numbers to np.NaN. Original: $17.89 - $194.72
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $890.63
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $793.75
WARNING:root:Converting range of numbers to np.NaN. Original: $3.41 - $210.00
WARNING:root:Converting range of numbers to np.NaN. Original: $8.99 - $89.99
WARNING:root:Converting range of numbers to np.NaN. Original: $264.90 - $662.25
WARNING:root:Converting range of numbers to np.NaN. Original: $24.15 - $26.45
WARNING:root:Converting range of numbers to np.NaN. Original: $7.50 - $160.00
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $892.50
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $798.13
WARNING:root:Converting range of numbers to np.NaN. Original: $21.19 - $219.30
WARNING:root:Converting range of numbers to np.NaN. Original: $8.98 - $117.36
WARNING:root:Converting range of numbers to np.NaN. Original: $8.50 - $89.97
WARNING:root:Converting range of numbers to np.NaN. Original: $14.29 - $89.97
WARNING:root:Converting range of numbers to np.NaN. Original: $8.99 - $78.91
WARNING:root:Converting range of numbers to np.NaN. Original: $12.40 - $119.00
WARNING:root:Converting range of numbers to np.NaN. Original: $38.99 - $360.00
WARNING:root:Converting range of numbers to np.NaN. Original: $13.68 - $255.68
WARNING:root:Converting range of numbers to np.NaN. Original: $6.75 - $12.95
WARNING:root:Converting range of numbers to np.NaN. Original: $41.16 - $575.00
WARNING:root:Converting range of numbers to np.NaN. Original: $8.98 - $43.91
WARNING:root:Converting range of numbers to np.NaN. Original: $4.78 - $34.99
WARNING:root:Converting range of numbers to np.NaN. Original: $10.00 - $162.90
WARNING:root:Converting range of numbers to np.NaN. Original: $24.00 - $49.99
WARNING:root:Converting range of numbers to np.NaN. Original: $35.35 - $56.82
WARNING:root:Converting range of numbers to np.NaN. Original: $38.49 - $500.00
WARNING:root:Converting range of numbers to np.NaN. Original: $47.79 - $49.46
WARNING:root:Converting range of numbers to np.NaN. Original: $24.99 - $224.27
WARNING:root:Converting range of numbers to np.NaN. Original: $38.49 - $500.00
WARNING:root:Converting range of numbers to np.NaN. Original: $23.99 - $295.00
WARNING:root:Converting range of numbers to np.NaN. Original: $12.60 - $219.74
WARNING:root:Converting range of numbers to np.NaN. Original: $31.98 - $359.36
WARNING:root:Converting range of numbers to np.NaN. Original: $19.99 - $295.00
WARNING:root:Converting range of numbers to np.NaN. Original: $38.00 - $42.99
WARNING:root:Converting range of numbers to np.NaN. Original: $8.98 - $33.25
WARNING:root:Converting range of numbers to np.NaN. Original: $24.99 - $172.31
WARNING:root:Converting range of numbers to np.NaN. Original: $4.87 - $12.95
WARNING:root:Converting range of numbers to np.NaN. Original: $17.15 - $160.00
WARNING:root:Converting range of numbers to np.NaN. Original: $11.88 - $177.28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287051 entries, 0 to 287050
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      287051 non-null  object
 1   tech1         287051 non-null  object
 2   description   287051 non-null  object
 3   fit           287051 non-null  object
 4   title         287051 non-null  object
 5   also_buy      287051 non-null  object
 6   image         287051 non-null  object
 7   tech2         287051 non-null  object
 8   brand         287051 non-null  object
 9   feature       287051 non-null  object
 10  rank          287051 non-null  object
 11  also_view     287051 non-null  object
 12  main_cat      287051 non-null  object
 13  similar_item  287051 non-null  object
 14  date          287051 non-null  object
 15  price         132036 non-null  float64
 16  asin          287051 non-null  object
 17  details       287027 non-null  object
dtypes: float64(1), object(17)
memory usage: 39.4+ MB

In [33]:
grocery_data_copy['price'].head(100)
# gluten_free_dataframe['category'] = test.apply(clean_alt_list)
# gluten_free_dataframe['category'].value_counts()

0     41.91
1       NaN
2     29.95
3     11.45
4     15.00
      ...
95      NaN
96     4.36
97    15.00
98    18.95
99      NaN
Name: price, Length: 100, dtype: float64

In [34]:
# # Most common categories.
# grocery_data['category'] = grocery_data['category'].astype(str)
# grocery_data['category'].value_counts()

In [35]:
# grocery_data[['category', 'brand']].nunique()

## Cleanup<a id='Cleanup' />

## Review Distributions<a id='Review_Distributions' />

## Population Data<a id='Population_Data' />

## Target Features<a id='Target_Features' />

## Save Data<a id='Save_Data' />

## Summary<a id='Summary' />

## Tests <a id='Tests' />
These would usually be in a separate directory or file.

### Unit Tests

In [36]:
class UnitTestExamples(unittest.TestCase):
    
    def test_formatting_removed(self):
        self.assertEqual(convert_currency('$5,000.00'), 5000.00)
    
    def test_whole_number(self):
        self.assertEqual(convert_currency(5), 5)
    
    def test_rounding_floats(self):
        self.assertEqual(convert_currency(.16666666666666666666), 0.17)
    
    def test_warn_problem_character(self):
        with self.assertRaises(ValueError):
            convert_currency('€5')
        
    def test_blank_values(self):
        self.assertTrue(np.isnan(convert_currency('')))
            
    def test_problem_characters(self):
        self.assertTrue(np.isnan(convert_currency('.a-box-inner{background-color:#fff}#alohaBuyBoxWidget')))
            
    def test_range_of_values(self):
        self.assertTrue(np.isnan(convert_currency('$17.24 - $39.20')))

### Integration Tests

In [37]:
class IntegrationTestExamples(unittest.TestCase):

   def test_data_file_exists(self):
       self.assertTrue(os.path.isfile(data_filepath))
       
   def test_documentation_file_exists(self):
       self.assertTrue(os.path.isfile(doc_filepath))
       
   def test_file_exists_logic(self):
       self.assertFalse(os.path.isfile('Does_Not_Exist.csv'))

### Test Results

In [38]:
  
unittest.main(argv=[''], verbosity=2, exit=False)

test_data_file_exists (__main__.IntegrationTestExamples) ... ok
test_documentation_file_exists (__main__.IntegrationTestExamples) ... ok
test_file_exists_logic (__main__.IntegrationTestExamples) ... ok
test_blank_values (__main__.UnitTestExamples) ... ok
test_formatting_removed (__main__.UnitTestExamples) ... ok
test_problem_characters (__main__.UnitTestExamples) ... ok
test_range_of_values (__main__.UnitTestExamples) ... WARNING:root:Converting range of numbers to np.NaN. Original: $17.24 - $39.20
ok
test_rounding_floats (__main__.UnitTestExamples) ... ok
test_warn_problem_character (__main__.UnitTestExamples) ... WARNING:root:
            WARNING: The new value cannot be converted. Only numbers and '.' are allowed in the data.
            - If there are values in multiple currencies the data must be converted into just $ first.
            - Most likely this problem is because of unexpected character(s) at: €5.

ok
test_whole_number (__main__.UnitTestExamples) ... ok

----------------------------------------------------------------------
Ran 10 tests in 0.007s

OK

## References <a id='References' />
<a href=https://nijianmo.github.io/amazon/>Amazon Review Data (2018)</a> accessed on 4/20/21.  
Rahul Agarwal (2019) [Apply and Lambda usage in pandas. Learn these to master Pandas.](https://towardsdatascience.com/apply-and-lambda-usage-in-pandas-b13a1ea037f7)